@{
    Layout = "../Shared/_TopicLayout";
    ViewData["Title"] = "关于本站";
}
<ul class="nav mb-3">
    <li class="nav-item">
        <a class="nav-link active" asp-controller="about" asp-action="intro">关于本站</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="about" asp-action="feedback">反馈建议</a>
    </li>
</ul>
<section class="mb-3">
    <ol style="padding:0">
        <li>
            意图：以读书写作为根基，打造知识内容社交圈。
        </li>
        <li>
            声明：本站内容皆来源于网络，如有侵权请联系删除。
        </li>
        <li>
            作者：手机15002122201（微信同号），QQ390915549。
        </li>
    </ol>
</section>
